In [16]:
import duckdb
import json
from datetime import date, timedelta
import pandas as pd

In [17]:
with open("credentials.json") as f:
    d = json.load(f)

pg = d["postgres"]
aws = d["aws"]
bucket = "s3://carlos-s3-bdet-ducklake" 

def secreto(con):
    print("Iniciando")
    #con = duckdb.connect( )
    con.sql("INSTALL ducklake; LOAD ducklake;")
    con.sql("INSTALL spatial; LOAD spatial;")
    con.sql("INSTALL httpfs; LOAD httpfs;")
    con.sql("INSTALL postgres; LOAD postgres;")

    print("Librerias cargadas")

    con.sql(f"""
        CREATE OR REPLACE SECRET secreto_s3 (
        TYPE s3,
        KEY_ID '{aws["login"]}',
        SECRET '{aws["password"]}',
        REGION 'eu-central-1'
    )
    """)

    print("Secreto s3 creado")

    con.sql(f"""
        CREATE OR REPLACE SECRET secreto_postgres (
        TYPE postgres,
        HOST '{pg["host"]}',
        PORT {pg["port"]},
        DATABASE '{pg["schema"]}',
        USER '{pg["login"]}',
        PASSWORD '{pg["password"]}'
        )
    """)

    print("Secreto postgres creado")

    con.sql("""
        CREATE OR REPLACE SECRET secreto_ducklake (
            TYPE ducklake,
            METADATA_PATH '',
            METADATA_PARAMETERS MAP {'TYPE': 'postgres', 'SECRET': 'secreto_postgres'}
        );
        """)
    
    print("secreto ducklake creado")

    con.sql(f"""
        ATTACH 'ducklake:secreto_ducklake' AS mobility_ducklake (DATA_PATH '{bucket}', OVERRIDE_DATA_PATH TRUE) """)
    con.sql("""
        USE mobility_ducklake """)
    
    print("fin")

In [18]:
con = duckdb.connect()
secreto(con)

Iniciando
Librerias cargadas
Secreto s3 creado
Secreto postgres creado
secreto ducklake creado
fin

In [20]:
con.sql("SELECT * FROM gold_infrastructure_gaps LIMIT 10")

┌───────────┬────────────────┬────────────────────┬─────────────────┬──────────────────┬───────────┐
│ origin_id │ destination_id │    actual_trips    │ distance_meters │ potential_demand │ gap_ratio │
│  varchar  │    varchar     │       double       │      int32      │      int32       │  double   │
├───────────┼────────────────┼────────────────────┼─────────────────┼──────────────────┼───────────┤
│ 0200301   │ 0200304        │  45724.53656050141 │            4050 │           171483 │    0.2666 │
│ 0206902   │ 0200303        │            131.607 │           36962 │              492 │    0.2673 │
│ 0200304   │ 0202501        │ 39.565000000000005 │           81589 │              147 │     0.269 │
│ 0203002   │ 0206901        │              2.929 │           82145 │               11 │     0.276 │
│ 0200305   │ 0206902        │ 104.24000000000001 │           37871 │              376 │     0.277 │
│ 0208104   │ 0206902        │ 145.88299999999998 │           21036 │              526 │    0.2772 │
│ 0208103   │ 0204502        │              6.851 │           61102 │               25 │    0.2784 │
│ 0208101   │ 0202501        │              2.334 │          152529 │                8 │    0.2788 │
│ 0203703   │ 0203702        │ 378976.30008275365 │             500 │          1332030 │    0.2845 │
│ 0203702   │ 0203703        │  378976.3000827539 │             500 │          1322835 │    0.2865 │
├───────────┴────────────────┴────────────────────┴─────────────────┴──────────────────┴───────────┤
│ 10 rows                                                                                6 columns │
└──────────────────────────────────────────────────────────────────────────────────────────────────┘

In [13]:
date_start = '2023-05-08'
date_end = '2023-01-08'

region = "POLYGON((536923.45 4188168.32, 535422.18 4515582.45, 729358.76 4518970.12, 739506.89 4191478.56, 536923.45 4188168.32))"

query = f"""--sql
CREATE OR REPLACE TABLE gold_gravity_model AS

WITH daily_trips AS (
    SELECT 
        origin_id,
        destination_id,
        SUM(travels) as actual_trips
    FROM silver_trips
    WHERE 
        -- Filtro ÚNICO de Fecha
        date BETWEEN '{date_start}' AND '{date_end}'
    GROUP BY 1, 2
)

SELECT 
    t.origin_id,
    t.destination_id,
    t.actual_trips,
    
    -- Distancia (Evitamos división por cero)
    GREATEST(d.distance_meters, 500.0) as dist_meters,
    
    -- Datos Demográficos
    CAST(pop.poblacion AS DOUBLE) as P_i,
    CAST(econ.renta_total_euros AS DOUBLE) as E_j,
    
    -- FÓRMULA DE GRAVEDAD
    -- G = (Pob_Origen * Renta_Destino) / Distancia^2
    (CAST(pop.poblacion AS DOUBLE) * CAST(econ.renta_total_euros AS DOUBLE)) 
        / POWER(GREATEST(d.distance_meters, 500.0), 2) as gravity_raw

FROM daily_trips t

-- Joins
JOIN silver_distances d 
    ON t.origin_id = d.origin_id 
    AND t.destination_id = d.destination_id

JOIN silver_demographics pop 
    ON t.origin_id = pop.distrito_id 
    AND pop.year = year(CAST('{date_start}' AS DATE))

JOIN silver_demographics econ 
    ON t.destination_id = econ.distrito_id 
    AND econ.year = year(CAST('{date_start}' AS DATE));
"""

In [7]:
con.sql(f"SELECT CAST('2023-05-08' AS DATE)")

┌────────────────────────────┐
│ CAST('2023-05-08' AS DATE) │
│            date            │
├────────────────────────────┤
│ 2023-05-08                 │
└────────────────────────────┘

In [14]:
con.sql(query)

In [15]:
con.sql("SELECT * FROM gold_gravity_model LIMIT 10")

┌───────────┬────────────────┬──────────────┬─────────────┬────────┬────────┬─────────────┐
│ origin_id │ destination_id │ actual_trips │ dist_meters │  P_i   │  E_j   │ gravity_raw │
│  varchar  │    varchar     │    double    │   double    │ double │ double │   double    │
├───────────┴────────────────┴──────────────┴─────────────┴────────┴────────┴─────────────┤
│                                         0 rows                                          │
└─────────────────────────────────────────────────────────────────────────────────────────┘

In [11]:
con.sql("SELECT * FROM gold_date_patterns")

┌────────────┬──────────────┐
│    date    │ pattern_type │
│    date    │    int32     │
├────────────┼──────────────┤
│ 2023-01-01 │            4 │
│ 2023-01-02 │            2 │
│ 2023-01-03 │            2 │
│ 2023-01-04 │            2 │
│ 2023-01-05 │            2 │
│ 2023-01-06 │            2 │
│ 2023-01-07 │            2 │
│ 2023-01-08 │            2 │
│ 2023-01-09 │            0 │
│ 2023-01-10 │            0 │
│     ·      │            · │
│     ·      │            · │
│     ·      │            · │
│ 2023-12-22 │            0 │
│ 2023-12-23 │            2 │
│ 2023-12-24 │            2 │
│ 2023-12-25 │            1 │
│ 2023-12-26 │            2 │
│ 2023-12-27 │            2 │
│ 2023-12-28 │            2 │
│ 2023-12-29 │            2 │
│ 2023-12-30 │            2 │
│ 2023-12-31 │            2 │
├────────────┴──────────────┤
│ 358 rows        2 columns │
│ (20 shown)                │
└───────────────────────────┘

In [ ]:
date_start = date(2023, 1, 1)
date_end = date(2023, 12, 31)
current_date = pd.to_datetime(date_start)
final_date = pd.to_datetime(date_end)

In [17]:
date_start = date(2023, 1, 1)
date_end = date(2023, 12, 31)
current_date = pd.to_datetime(date_start)
final_date = pd.to_datetime(date_end)
configs = []

# con = duckdb.connect()
# secreto(con)
# con.sql("""
#             CREATE OR REPLACE TABLE temp_trips_batch_agg (
#                 origin_id VARCHAR, 
#                 destination_id VARCHAR, 
#                 partial_trips BIGINT
#             )""")
i = 1
while current_date <= final_date:
    # A. Calcular el final del mes actual
    # Truco: Ir al día 1 del mes siguiente y restar un día
    next_week = (current_date + pd.DateOffset(days=2))
    end_of_current_week = next_week - pd.Timedelta(days=1)
    
    # B. Definir el final del lote (Batch End)
    # Si el final del mes está ANTES que la fecha final global, cortamos en fin de mes.
    # Si no, cortamos en la fecha final global.
    batch_end_date = min(end_of_current_week, final_date)
    
    # C. Formatear para SQL
    s_str = current_date.strftime('%Y-%m-%d')
    e_str = batch_end_date.strftime('%Y-%m-%d')
    
    #print(f" >> Procesando lote: {s_str} al {e_str}")
    
    # D. Ejecutar Agregación Parcial
    query = f"""
    INSERT INTO temp_trips_batch_agg
    SELECT 
        origin_id, 
        destination_id, 
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '{s_str}' AND '{e_str}'
    GROUP BY 1, 2
    """
    #con.sql(query_insert)
    print(query)
    print(i)
    i += 1
    current_date = batch_end_date + pd.Timedelta(days=1)

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-01-01' AND '2023-01-02'
    GROUP BY 1, 2

1

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-01-03' AND '2023-01-04'
    GROUP BY 1, 2

2

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-01-05' AND '2023-01-06'
    GROUP BY 1, 2

3

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-01-07' AND '2023-01-08'
    GROUP BY 1, 2

4

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-01-09' AND '2023-01-10'
    GROUP BY 1, 2

5

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-01-11' AND '2023-01-12'
    GROUP BY 1, 2

6

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-01-13' AND '2023-01-14'
    GROUP BY 1, 2

7

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-01-15' AND '2023-01-16'
    GROUP BY 1, 2

8

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-01-17' AND '2023-01-18'
    GROUP BY 1, 2

9

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-01-19' AND '2023-01-20'
    GROUP BY 1, 2

10

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-01-21' AND '2023-01-22'
    GROUP BY 1, 2

11

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-01-23' AND '2023-01-24'
    GROUP BY 1, 2

12

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-01-25' AND '2023-01-26'
    GROUP BY 1, 2

13

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-01-27' AND '2023-01-28'
    GROUP BY 1, 2

14

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-01-29' AND '2023-01-30'
    GROUP BY 1, 2

15

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-01-31' AND '2023-02-01'
    GROUP BY 1, 2

16

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-02-02' AND '2023-02-03'
    GROUP BY 1, 2

17

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-02-04' AND '2023-02-05'
    GROUP BY 1, 2

18

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-02-06' AND '2023-02-07'
    GROUP BY 1, 2

19

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-02-08' AND '2023-02-09'
    GROUP BY 1, 2

20

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-02-10' AND '2023-02-11'
    GROUP BY 1, 2

21

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-02-12' AND '2023-02-13'
    GROUP BY 1, 2

22

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-02-14' AND '2023-02-15'
    GROUP BY 1, 2

23

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-02-16' AND '2023-02-17'
    GROUP BY 1, 2

24

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-02-18' AND '2023-02-19'
    GROUP BY 1, 2

25

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-02-20' AND '2023-02-21'
    GROUP BY 1, 2

26

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-02-22' AND '2023-02-23'
    GROUP BY 1, 2

27

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-02-24' AND '2023-02-25'
    GROUP BY 1, 2

28

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-02-26' AND '2023-02-27'
    GROUP BY 1, 2

29

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-02-28' AND '2023-03-01'
    GROUP BY 1, 2

30

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-03-02' AND '2023-03-03'
    GROUP BY 1, 2

31

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-03-04' AND '2023-03-05'
    GROUP BY 1, 2

32

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-03-06' AND '2023-03-07'
    GROUP BY 1, 2

33

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-03-08' AND '2023-03-09'
    GROUP BY 1, 2

34

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-03-10' AND '2023-03-11'
    GROUP BY 1, 2

35

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-03-12' AND '2023-03-13'
    GROUP BY 1, 2

36

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-03-14' AND '2023-03-15'
    GROUP BY 1, 2

37

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-03-16' AND '2023-03-17'
    GROUP BY 1, 2

38

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-03-18' AND '2023-03-19'
    GROUP BY 1, 2

39

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-03-20' AND '2023-03-21'
    GROUP BY 1, 2

40

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-03-22' AND '2023-03-23'
    GROUP BY 1, 2

41

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-03-24' AND '2023-03-25'
    GROUP BY 1, 2

42

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-03-26' AND '2023-03-27'
    GROUP BY 1, 2

43

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-03-28' AND '2023-03-29'
    GROUP BY 1, 2

44

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-03-30' AND '2023-03-31'
    GROUP BY 1, 2

45

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-04-01' AND '2023-04-02'
    GROUP BY 1, 2

46

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-04-03' AND '2023-04-04'
    GROUP BY 1, 2

47

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-04-05' AND '2023-04-06'
    GROUP BY 1, 2

48

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-04-07' AND '2023-04-08'
    GROUP BY 1, 2

49

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-04-09' AND '2023-04-10'
    GROUP BY 1, 2

50

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-04-11' AND '2023-04-12'
    GROUP BY 1, 2

51

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-04-13' AND '2023-04-14'
    GROUP BY 1, 2

52

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-04-15' AND '2023-04-16'
    GROUP BY 1, 2

53

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-04-17' AND '2023-04-18'
    GROUP BY 1, 2

54

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-04-19' AND '2023-04-20'
    GROUP BY 1, 2

55

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-04-21' AND '2023-04-22'
    GROUP BY 1, 2

56

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-04-23' AND '2023-04-24'
    GROUP BY 1, 2

57

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-04-25' AND '2023-04-26'
    GROUP BY 1, 2

58

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-04-27' AND '2023-04-28'
    GROUP BY 1, 2

59

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-04-29' AND '2023-04-30'
    GROUP BY 1, 2

60

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-05-01' AND '2023-05-02'
    GROUP BY 1, 2

61

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-05-03' AND '2023-05-04'
    GROUP BY 1, 2

62

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-05-05' AND '2023-05-06'
    GROUP BY 1, 2

63

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-05-07' AND '2023-05-08'
    GROUP BY 1, 2

64

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-05-09' AND '2023-05-10'
    GROUP BY 1, 2

65

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-05-11' AND '2023-05-12'
    GROUP BY 1, 2

66

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-05-13' AND '2023-05-14'
    GROUP BY 1, 2

67

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-05-15' AND '2023-05-16'
    GROUP BY 1, 2

68

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-05-17' AND '2023-05-18'
    GROUP BY 1, 2

69

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-05-19' AND '2023-05-20'
    GROUP BY 1, 2

70

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-05-21' AND '2023-05-22'
    GROUP BY 1, 2

71

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-05-23' AND '2023-05-24'
    GROUP BY 1, 2

72

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-05-25' AND '2023-05-26'
    GROUP BY 1, 2

73

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-05-27' AND '2023-05-28'
    GROUP BY 1, 2

74

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-05-29' AND '2023-05-30'
    GROUP BY 1, 2

75

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-05-31' AND '2023-06-01'
    GROUP BY 1, 2

76

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-06-02' AND '2023-06-03'
    GROUP BY 1, 2

77

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-06-04' AND '2023-06-05'
    GROUP BY 1, 2

78

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-06-06' AND '2023-06-07'
    GROUP BY 1, 2

79

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-06-08' AND '2023-06-09'
    GROUP BY 1, 2

80

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-06-10' AND '2023-06-11'
    GROUP BY 1, 2

81

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-06-12' AND '2023-06-13'
    GROUP BY 1, 2

82

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-06-14' AND '2023-06-15'
    GROUP BY 1, 2

83

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-06-16' AND '2023-06-17'
    GROUP BY 1, 2

84

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-06-18' AND '2023-06-19'
    GROUP BY 1, 2

85

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-06-20' AND '2023-06-21'
    GROUP BY 1, 2

86

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-06-22' AND '2023-06-23'
    GROUP BY 1, 2

87

    INSERT INTO temp_trips_batch_agg
    SELECT
        origin_id,
        destination_id,
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-06-24' AND '2023-06-25'
    GROUP BY 1, 2

88


In [14]:
con = duckdb.connect()
secreto(con)
con.sql("""SELECT 
        origin_id, 
        destination_id, 
        SUM(travels) as partial_trips
    FROM silver_trips
    WHERE date BETWEEN '2023-01-01' AND '2023-01-02'
    GROUP BY 1, 2""")

Iniciando
Librerias cargadas
Secreto s3 creado
Secreto postgres creado
secreto ducklake creado
fin

┌───────────┬────────────────┬────────────────────┐
│ origin_id │ destination_id │   partial_trips    │
│  varchar  │    varchar     │       double       │
├───────────┼────────────────┼────────────────────┤
│ 0101701   │ 3101301        │            153.395 │
│ 0105501   │ 0905701        │  383.5989999999999 │
│ 0314001   │ 4613105        │              2.793 │
│ 0314006   │ 0311601        │ 2412.2443651794797 │
│ 0810205   │ 0825001        │ 29210.058784820536 │
│ 0819601   │ 0820801        │  777.1475442473998 │
│ 0819406   │ 0801909        │ 13643.552725735703 │
│ 0830701   │ 0801902        │ 456.35200000000003 │
│ 1103106   │ 1101505        │ 11662.593475582004 │
│ 0901801   │ 0916401        │           1450.788 │
│    ·      │    ·           │               ·    │
│    ·      │    ·           │               ·    │
│    ·      │    ·           │               ·    │
│ 3123601   │ 3190101        │ 398.41833333334006 │
│ 4625801   │ 1207801        │              9.416 │
│ 5017501   │ 0807401        │              2.842 │
│ 4708101   │ 4916301        │            227.114 │
│ 4705401   │ 4719301        │              28.98 │
│ 4919401   │ 4918401        │  667.2499999999999 │
│ 1803001   │ 0402901        │ 243.26600000000005 │
│ 1616701   │ 4625010        │  35.78000000000001 │
│ 3727402   │ 3725001        │             19.874 │
│ 4014801   │ 4204801        │             11.781 │
├───────────┴────────────────┴────────────────────┤
│ ? rows (>9999 rows, 20 shown)         3 columns │
└─────────────────────────────────────────────────┘

In [20]:
con.sql("DROP TABLE bronze_mitma_viajes_distritos")

In [18]:
con.sql("SELECT * FROM gold_date_patterns LIMIT 10")

┌────────────┬──────────────┐
│    date    │ pattern_type │
│    date    │    int32     │
├────────────┼──────────────┤
│ 2023-01-01 │            2 │
│ 2023-01-02 │            0 │
│ 2023-01-03 │            0 │
│ 2023-01-04 │            0 │
│ 2023-01-05 │            0 │
│ 2023-01-06 │            1 │
│ 2023-01-07 │            1 │
└────────────┴──────────────┘